In [1]:
import sqlite3
import pandas as pd
import json
import os
import matplotlib.pyplot as plt
from IPython.display import Markdown, display
import calendar


# Allow Markdown characters in the print statement
# this can make the output more print ready
def printmd(string):
    display(Markdown(string))

In [2]:
conn = sqlite3.connect("twitterTesla.db")
c = conn.cursor()

# Create tesla table to hold Elon Musk's tweets

sql_create = """
CREATE TABLE IF NOT EXISTS tweets (
    id_str TEXT PRIMARY KEY,
    created_at INTEGER,
    full_text TEXT
);
"""

# remove any data from a previous run
sql_delete = "DELETE FROM tweets"

try:
    c.execute(sql_create)
    c.execute(sql_delete)
    conn.commit()
finally:
    conn.rollback()
    c.close()
    conn.close()

In [3]:
conn = sqlite3.connect("twitterTesla.db")
c = conn.cursor()

# Create tesla table to hold stock prices

sql_create = """
CREATE TABLE IF NOT EXISTS tesla (
    id INTEGER PRIMARY KEY,
    date TEXT,
    open DECIMAL(6,2),
    close DECIMAL(6,2),
    high DECIMAL(6,2),
    low DECIMAL(6,2)
);
"""

# remove any data from a previous run
sql_delete = "DELETE FROM tesla"

try:
    c.execute(sql_create)
    c.execute(sql_delete)
    conn.commit()
finally:
    conn.rollback()
    c.close()
    conn.close()

In [4]:
# Sqlite db file will continute to grow in size after any deletes or drops
# This will optimize the database file and reduce its size
# You can also just remove the db file and recreate.
# http://www.sqlitetutorial.net/sqlite-vacuum/
conn = sqlite3.connect("twitterTesla.db")
conn.execute("VACUUM")

In [5]:
conn = sqlite3.connect("twitterTesla.db")

# load stock into sqlite table
filepath = 'csv/tslaquotes.csv'

# read csv file
stock_df = pd.read_csv(filepath, parse_dates=['date'], usecols=['date', 'close', 'open', 'high', 'low'])

# drop any time values
stock_df['date'] = stock_df['date'].dt.date

# append the data to the 'tesla' table in the 'teslaTwitter.db'
stock_df.to_sql("tesla", conn, if_exists = "append", index=False)

In [6]:
conn = sqlite3.connect("twitterTesla.db")

# Pull out all of the json and put it into a tweets array to iterate through and create the data frame with
with open(os.path.join('json/', 'musktweets.json')) as json_file:
    tweets = []
    for line in json_file:
        tweets.append(json.loads(line))

tweet_df = pd.DataFrame(tweets, columns=['id_str','created_at','full_text'])

# Drop time values and change date format of %Y-%m-%d to match stock quotes
tweet_df['created_at'] = pd.to_datetime(tweet_df['created_at'], format='%a %b %d %H:%M:%S +0000 %Y', utc=True)
tweet_df['created_at'] = pd.DatetimeIndex(tweet_df.created_at).date

# append the data to the 'tweets' table in 'teslaTwitter.db'
tweet_df.to_sql("tweets", conn, if_exists="append", index=False)

In [7]:
conn = sqlite3.connect("twitterTesla.db")
c = conn.cursor()


# SQL STATEMENTS
total_count_sql = """
SELECT count(*) as total_count
FROM tweets
"""
tweet_date_span = """
SELECT MIN(created_at) as min_date, MAX(created_at) as max_date 
FROM tweets
"""
stock_date_span = """
SELECT MIN(date) as min_date, MAX(date) as max_date 
FROM tesla
"""
month_counts = """
SELECT strftime('%m', created_at) as month, strftime('%Y', created_at) as year, count(*) as month_count
FROM tweets
GROUP BY month, year
ORDER BY year, month
"""
# tweet_and_stock_sql = """
# SELECT strftime(created_at) as date, full_text
# FROM tweets t
#     RIGHT JOIN tesla a ON t.created_at = a.date
# GROUP BY date
# ORDER BY date
# """
full_outer_join = """
SELECT t.full_text,
        t.created_at,
        s.date,
        s.open,
        s.close
FROM tweets t
LEFT JOIN tesla s ON t.created_at = s.date
WHERE s.date IS NOT NULL AND t.created_at IS NOT NULL AND s.date="2018-08-07"
UNION ALL
SELECT t.full_text,
        t.created_at,
        s.date,
        s.open,
        s.close
FROM tesla s
LEFT JOIN tweets t ON t.created_at = s.date
WHERE s.date IS NOT NULL AND t.created_at IS NOT NULL AND s.date="2018-08-07";
"""
tweet_and_stock_sql = """
SELECT *
FROM tesla a inner join tweets t ON t.created_at = a.date
WHERE a.date = "2018-08-07"
GROUP BY date
ORDER BY date
"""
stock_quotes_sql = """
SELECT *
FROM tesla a
WHERE a.date >= "2016-10-10" AND a.date <= "2018-09-11"
ORDER BY date
"""

# EXECUTE THE QUERIES
total_count = c.execute(total_count_sql).fetchone()[0]
twitter_date_span = c.execute(tweet_date_span).fetchone()
tesla_date_span = c.execute(stock_date_span).fetchone()
month_count = c.execute(month_counts).fetchall()
full_outer_join_command = c.execute(full_outer_join).fetchall()
combined = c.execute(tweet_and_stock_sql).fetchall()
stock_quotes_command = c.execute(stock_quotes_sql).fetchall()



# FORMATTED PRINT STATEMENTS
printmd(f"### Total Tweets: {total_count:,}")
printmd(f"""
### Date Span of Tweets
- Earliest Tweet: {twitter_date_span[0]}
- Latest Tweet: {twitter_date_span[1]}
""")
printmd(f"""
### Date Span of Tesla Quotes
- Earliest Quote: {tesla_date_span[0]}
- Latest Quote: {tesla_date_span[1]}
""")
print_records_by_month = """### Tweets by Month
|   Month   |    Year   |  Tweets   |
|-----------|-----------|-----------|
"""
for row in month_count:
    print_records_by_month += f"| {row[0]} | {row[1]} |{row[2]:,} |\n"

printmd(print_records_by_month)
print("***************************")
# Why is this not working
combined_df = pd.DataFrame(combined, columns=['index','date','close','open','high','low','tweetid','tweetdate','text'])
combined_df.head()
print("***************************")
stock_quotes_command_df = pd.DataFrame(stock_quotes_command, columns=['index','date','close','open','high','low'])

### Total Tweets: 3,204

### Date Span of Tweets
- Earliest Tweet: 2016-10-10
- Latest Tweet: 2018-09-11

### Date Span of Tesla Quotes
- Earliest Quote: 2015-10-22
- Latest Quote: 2018-11-08

### Tweets by Month
|   Month   |    Year   |  Tweets   |
|-----------|-----------|-----------|
| 10 | 2016 |62 |
| 11 | 2016 |82 |
| 12 | 2016 |50 |
| 01 | 2017 |107 |
| 02 | 2017 |135 |
| 03 | 2017 |117 |
| 04 | 2017 |46 |
| 05 | 2017 |131 |
| 06 | 2017 |214 |
| 07 | 2017 |133 |
| 08 | 2017 |138 |
| 09 | 2017 |55 |
| 10 | 2017 |92 |
| 11 | 2017 |43 |
| 12 | 2017 |102 |
| 01 | 2018 |57 |
| 02 | 2018 |101 |
| 03 | 2018 |122 |
| 04 | 2018 |93 |
| 05 | 2018 |419 |
| 06 | 2018 |399 |
| 07 | 2018 |309 |
| 08 | 2018 |168 |
| 09 | 2018 |29 |

***************************
***************************

In [10]:
from math import pi

import pandas as pd

from bokeh.plotting import figure, show, output_notebook, ColumnDataSource

df = pd.DataFrame(stock_quotes_command_df)[:]
df["date"] = pd.to_datetime(df["date"])

mids = (df.open + df.close)/2
spans = abs(df.close-df.open)

inc = df.close > df.open
dec = df.open > df.close
w = 12*60*60*1000 # half day in ms

TOOLS = "pan,wheel_zoom,box_zoom,hover,reset,save"

TOOLTIPS = [
    ("open", "@open"),
    ("close", "@close"),
    ("high", "@high"),
    ("low", "@low"),
    ("Date", "@date")
]

SOURCE1 = ColumnDataSource(data=dict(
    xval=df.date[inc],
    yval=mids[inc],
    width=w,
    height=spans[inc],
    open=df['open'],
    close=df['close'],
    high=df['high'],
    low=df['low']
    )
)

SOURCE2 = ColumnDataSource(data=dict(
    xval=df.date[dec],
    yval=mids[dec],
    width=w,
    height=spans[dec],
    open=df['open'],
    close=df['close'],
    high=df['high'],
    low=df['low']
    )
)

p = figure(x_axis_type="datetime", tools=TOOLS, tooltips=TOOLTIPS, 
           plot_width=1000, toolbar_location="left", title="Tesla Candlestick")

# Adjust labels to 45 degree angle
p.xaxis.major_label_orientation = pi/4
p.grid.grid_line_alpha=0.3

# Create candlesticks
p.segment(df.date, df.high, df.date, df.low, color="black")
p.rect('xval', 'yval', 'width', 'height', 
       fill_color="#F2583E", line_color="black", source=SOURCE1)
p.rect('xval', 'yval', 'width', 'height', 
       fill_color="#D5E1DD", line_color="black", source=SOURCE2)
output_notebook()
show(p)

ValueError: expected an element of ColumnData(String, Seq(Any)), got {'xval': 0     2016-10-10
1     2016-10-11
3     2016-10-13
4     2016-10-14
5     2016-10-17
8     2016-10-20
11    2016-10-25
13    2016-10-27
14    2016-10-28
15    2016-10-31
16    2016-11-01
17    2016-11-02
18    2016-11-03
20    2016-11-07
23    2016-11-10
25    2016-11-14
29    2016-11-18
30    2016-11-21
35    2016-11-29
36    2016-11-30
37    2016-12-01
38    2016-12-02
44    2016-12-12
46    2016-12-14
47    2016-12-15
51    2016-12-21
55    2016-12-28
56    2016-12-29
57    2016-12-30
63    2017-01-10
         ...
425   2018-06-19
427   2018-06-21
428   2018-06-22
431   2018-06-27
433   2018-06-29
434   2018-07-02
435   2018-07-03
436   2018-07-05
439   2018-07-10
441   2018-07-12
443   2018-07-16
445   2018-07-18
447   2018-07-20
449   2018-07-24
452   2018-07-27
453   2018-07-30
458   2018-08-06
461   2018-08-09
463   2018-08-13
464   2018-08-14
465   2018-08-15
466   2018-08-16
467   2018-08-17
474   2018-08-28
475   2018-08-29
477   2018-08-31
478   2018-09-04
479   2018-09-05
480   2018-09-06
483   2018-09-11
Name: date, Length: 244, dtype: datetime64[ns], 'yval': 0      201.15000
1      200.97500
3      200.37000
4      198.58500
5      195.50500
8      200.61000
11     202.62000
13     207.67500
14     201.98500
15     200.11000
16     194.41500
17     189.03500
18     188.21000
20     193.40000
23     188.20000
25     184.72500
29     187.83500
30     184.78000
35     192.56500
36     190.20000
37     185.06500
38     182.17500
44     192.61500
46     198.71500
47     197.99500
51     208.07500
55     220.63500
56     216.62000
57     214.99500
63     230.93500
         ...
425    358.85500
427    354.75500
428    342.58500
431    344.75000
433    348.14000
434    347.57000
435    321.30500
436    311.46000
439    323.51500
441    319.07000
443    310.90500
445    324.42500
447    317.40500
449    300.92545
452    302.21500
453    293.03500
458    343.72500
461    359.00000
463    358.77000
464    353.04500
465    340.29800
466    337.68000
467    314.50000
474    315.13500
475    307.64000
477    301.83000
478    292.94500
479    282.89500
480    282.87500
483    279.45500
Length: 244, dtype: float64, 'width': 43200000, 'height': 0       0.4000
1       1.7500
3       0.2600
4       4.1500
5       3.0900
8       3.0200
11      0.5600
13      7.3300
14      4.0300
15      4.7600
16      7.2500
17      2.0300
18      1.5800
20      0.3800
23      5.7000
25      6.5500
29      5.6300
30      0.5200
35      5.9900
36      1.6000
37      6.3700
38      1.4100
44      0.3700
46      0.0500
47      0.8300
51      0.7500
55      1.7900
56      3.8800
57      2.6100
63      2.1300
        ...
425    12.6100
427    14.4900
428    17.9100
431     0.5000
433    10.3800
434    25.0000
435    20.8900
436     4.6000
439     2.0900
441     4.7200
443     1.6100
445     1.1500
447     7.6500
449     6.9909
452    10.0700
453     5.7300
458     3.4700
461    13.1000
463     4.7200
464    10.8100
465     3.2160
466     4.4600
467    18.0000
474     6.5500
475     5.2600
477     0.3400
478     7.9900
479     4.3100
480     3.8500
483     0.0300
Length: 244, dtype: float64, 'open': 0      200.95
1      200.10
2      201.51
3      200.24
4      196.51
5      193.96
6      199.10
7      203.56
8      199.10
9      200.09
10     202.76
11     202.34
12     202.24
13     204.01
14     199.97
15     197.73
16     190.79
17     188.02
18     187.42
19     190.56
20     193.21
21     194.94
22     190.06
23     185.35
24     188.56
25     181.45
26     183.77
27     183.93
28     188.66
29     185.02
        ...
454    298.14
455    300.84
456    349.54
457    348.17
458    341.99
459    379.57
460    370.34
461    352.45
462    355.49
463    356.41
464    347.64
465    338.69
466    335.45
467    305.50
468    308.44
469    321.90
470    321.64
471    320.10
472    322.82
473    319.27
474    311.86
475    305.01
476    303.15
477    301.66
478    288.95
479    280.74
480    280.95
481    263.24
482    285.50
483    279.44
Name: open, Length: 484, dtype: float64, 'close': 0      201.350
1      201.850
2      200.950
3      200.500
4      200.660
5      197.050
6      195.990
7      199.740
8      202.120
9      198.600
10     201.000
11     202.900
12     201.000
13     211.340
14     204.000
15     202.490
16     198.040
17     190.050
18     189.000
19     189.000
20     193.590
21     193.790
22     186.875
23     191.050
24     184.240
25     188.000
26     182.780
27     182.650
28     183.490
29     190.650
        ...
454    292.250
455    297.990
456    328.440
457    347.810
458    345.460
459    343.840
460    369.090
461    365.550
462    354.000
463    361.130
464    358.450
465    341.906
466    339.910
467    323.500
468    291.704
469    310.610
470    320.870
471    319.140
472    320.700
473    318.000
474    318.410
475    310.270
476    302.260
477    302.000
478    296.940
479    285.050
480    284.800
481    260.100
482    273.260
483    279.470
Name: close, Length: 484, dtype: float64, 'high': 0      204.1400
1      202.2000
2      203.8800
3      200.8950
4      201.4300
5      198.3900
6      199.4700
7      206.6600
8      203.0000
9      201.5700
10     203.9452
11     204.6900
12     203.1900
13     213.7000
14     205.3200
15     202.4900
16     198.5000
17     192.6951
18     191.4700
19     193.4600
20     194.2900
21     197.4900
22     192.0000
23     191.6100
24     188.8800
25     188.2500
26     186.4300
27     184.7300
28     189.4900
29     193.0000
         ...
454    298.3200
455    303.0000
456    349.9900
457    355.0000
458    354.9800
459    387.4600
460    382.6400
461    367.0100
462    360.0000
463    363.1900
464    359.1995
465    344.4900
466    342.2800
467    326.7700
468    308.5000
469    324.7900
470    323.8800
471    327.3200
472    323.8500
473    322.4350
474    318.8800
475    311.8500
476    304.6000
477    305.3082
478    298.1900
479    286.7800
480    291.1700
481    268.3500
482    286.0300
483    282.0000
Name: high, Length: 484, dtype: float64, 'low': 0      199.6600
1      198.3100
2      200.4200
3      197.0500
4      196.3000
5      192.0000
6      193.2600
7      198.0600
8      197.0500
9      197.4100
10     200.2500
11     201.2000
12     200.1000
13     201.6500
14     199.8300
15     195.8100
16     188.1050
17     187.5050
18     187.0401
19     185.9600
20     190.0500
21     191.2600
22     183.9500
23     180.4200
24     183.0000
25     178.1900
26     182.0500
27     181.2100
28     182.1101
29     185.0000
         ...
454    289.0700
455    293.0000
456    323.1600
457    342.5300
458    341.8200
459    339.1501
460    367.1200
461    345.7300
462    346.0000
463    349.0200
464    347.1000
465    332.1400
466    333.8200
467    303.5300
468    288.2000
469    309.0000
470    314.6700
471    318.1000
472    319.4000
473    308.8100
474    311.1900
475    303.6900
476    297.7200
477    298.6000
478    288.0000
479    277.1800
480    278.8800
481    252.2548
482    271.0000
483    273.5500
Name: low, Length: 484, dtype: float64}